<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>|#{Aman}</title>
    style
        include ../static/css1.css

</head>
<body>
    <h1>This is AKash Pandey</h1>
    <p>
    |#{Aman}   
    </p>
    <form action="/demo" method="POST" id="contact">

       <div class="container"><span class="cls">Name: <input type="text" name="Name" placeholder="Enter your name"></span> 
       <span class="cls"></span> Mobile no: <input type="number" name="Mobileno" placeholder="+910123456789"></span> 
       <span class="cls"></span> Email:  <input type="email" name="Email" placeholder="abc@xyz.com"></span> 
       <span class="cls">Address: <textarea name="address" placeholder="Enter your permanent address"></textarea></span> 
       <span class="cls"><input type="submit" name="submit" placeholder="Submit here"> </span></div>

    </form>
</body>
</html>